@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilo para el fondo de rejilla en la Hero Section */
.bg-grid-slate-700\/\[0\.1\] {
    background-image: linear-gradient(theme(colors.slate.700/0.1) 1px, transparent 1px), linear-gradient(to right, theme(colors.slate.700/0.1) 1px, transparent 1px);
    background-size: 2rem 2rem;
}
